@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;

  /* Your custom colors here */
  --color-primary: #0b3558;
  --color-primaryHover : #4a7ba7;
  --color-secondary: #9333EA;
  --color-accent: #F59E0B;
  --color-textcol: #0b3558;
}

@theme inline {
  --color-primary: var(--color-primary);
  --color-primaryHover: var(--color-primaryHover);
  --color-secondary: var(--color-secondary);
  --color-accent: var(--color-accent);
  --color-textcol: var(--color-textcol);

  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}


body {
  font-family: var(--font-outfit), Arial, Helvetica, sans-serif;
}


@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(30px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeInRight {
  0% {
    opacity: 0;
    transform: translateX(50px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
