@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;

  /* Your custom colors here */
  --color-primary: #0b3558;
  --color-primaryHover: #4a7ba7;
  --color-secondary: #9333EA;
  --color-accent: #F59E0B;
  --color-textcol: #0b3558;
}

@theme inline {
  --color-primary: var(--color-primary);
  --color-primaryHover: var(--color-primaryHover);
  --color-secondary: var(--color-secondary);
  --color-accent: var(--color-accent);
  --color-textcol: var(--color-textcol);

  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}


body {
  font-family: var(--font-outfit), Arial, Helvetica, sans-serif;
}


@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(30px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeInRight {
  0% {
    opacity: 0;
    transform: translateX(50px);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

/* Triangle shape */
.clip-triangle {
  clip-path: polygon(0% 0%, 0% 100%, 100% 100%);
  opacity: 0.8;
  mix-blend-mode: multiply;
}

/* Triangle floating along half-circle path */
@keyframes trianglePath {
  0% {
    transform: translate(-200px, -200px) rotate(0deg) scale(1);
  }

  25% {
    transform: translate(-20px, 100px) rotate(15deg) scale(1.05);
  }

  50% {
    transform: translate(-40px, 200px) rotate(20deg) scale(1.1);
  }

  75% {
    transform: translate(-20px, 300px) rotate(15deg) scale(1.05);
  }

  100% {
    transform: translate(0px, 400px) rotate(0deg) scale(1);
  }
}


.animate-triangle {
  animation: trianglePath 8s ease-in-out infinite alternate;
}

/* Circles floating along half-circle path */
@keyframes circlesPath {
  0% {
    transform: translate(400px, 400px) rotate(0deg) scale(1);
  }

  25% {
    transform: translate(-15px, 300px)rotate(20deg) scale(1.05);
  }

  50% {
    transform: translate(-30px, 200px)rotate(40deg) scale(1.1);
  }

  75% {
    transform: translate(-15px, 100px)rotate(60deg) scale(1.05);
  }

  100% {
    transform: translate(0px, 0px) rotate(80deg) scale(1);
  }
}

.animate-circles {
  animation: circlesPath 10s ease-in-out infinite alternate;
}



@keyframes trust-marquee {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-50%);
  }
}

.animate-trust-marquee {
  animation: trust-marquee 30s linear infinite;
}